/*
Tips : 
  box-sizing: border-box => ensure the width and height properties do include the border width (that simplifies the calculation of them, and avoids the margins taking place over the borders)
  display: inline-block => the element, when a block element, won't generate line breaks from either side
*/

div#board18 {
  box-sizing: border-box;
  margin: auto;
  width: 25em;
  height: 25em;
}

div#board18 .row {
  box-sizing: border-box;
  height: 10%;
}

div#board18 .cell {
  box-sizing: border-box;
  display: inline-block;
  width: 10%;
  height: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

div#board18 .most-left-cell {
  border-left: 1px solid black;
}

div#board18 .most-top-cell {
  border-top: 1px solid black;
}
