html {
  font-family: Verdana, sans-serif;
}

body {
  margin: 8px;
}

header {
  display: grid;
  grid-template-columns: 100px 1fr;
}

header .hook {
  margin-left: 8px;
}

/*
 Display an arrow U+0279A after anchor's link to be opened in a new tab
*/
a.external::after {
  display: inline-block;
  margin-left: 0.1em;
  content: "\0279A";
  font-size: small;
}

div.info ul,
div.resource ul {
  list-style-type: none;
}

code.important {
  font-weight: bold;
}