nav#archive-nav {
  margin: 1em 0 1em 0;
}

.slider {
  display: inline-flex;
  height: 1em;
}

.slider-button-previous {
  margin-right: 1em;
}

.slider-button-previous::before {
  content: "<";
}

.slider-button-next {
  margin-left: 1em;
}

.slider-button-next::before {
  content: ">";
}

.slides-parent-container {
  height: inherit;
  overflow: hidden;
  text-align: center;
}

.slides-container {
  height: inherit;
}

/*
  All visible slides must have a margin left 1em, but the 1st one. Could not achieve this first-child or nth-child (not pertinent or not always supported)
  Workaround as suggested here : https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class?answertab=trending#tab-top
  => set all visible slides margin left 0, but 1em for those which follow a visible slide...  
*/
.slide {
  display: inline-block;
  margin-left: 0;
}

.slide ~ .slide {
  margin-left: 1em;
}