nav#archive-nav {
  margin: 1em 0 1em 0;
}

.slider {
  padding: 0;
  margin: 0;
}

.slider > * {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider-previous,
.slider-next {
  width: 1em;
  text-align: center;
}

.slides {
  overflow: hidden;
  width: calc(100% - 3em);
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.slide {
  position: relative;
}

.slide ~ .slide {
  margin-left: 0.5em;
}