nav#archive-nav {
  margin: 1em 0 1em 0;
}

.slider {
  display: flex;
}

.slider-button-previous {
  margin-right: 1em;
}

.slider-button-previous::before {
  content: "<";
}

.slider-button-next {
  margin-left: 1em;
}

.slider-button-next::before {
  content: ">";
}

.slides-container {
  height: 1em;
  overflow: hidden;
  text-align: center;
}

.slide {
  display: inline-block;
  margin-left: 0;
}

/* 
All not retired slides, but the 1st one, have a margin left 1em
Could not achieve this with *-child css functions; had the trick from https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class?answertab=trending#tab-top
*/
.slide:not([data-slide-retired]) ~ .slide:not([data-slide-retired]) {
  margin-left: 1em;
}